---
// Components
import Layout from "layouts/Layout.astro";
import Content from "markdown/CodeOfConduct.md";
---

<Layout
    title="Code of Conduct – GOSIM AI Paris 2025"
    description="GOSIM AI Paris 2025 is a gathering of open-source AI projects, developers, researchers, and industry sponsors to share knowledge, learn from each other, and collaborate."
    navBackground="light"
    pageTransitionName="Code of Conduct"
>
    <section
        class="section speaker-detail-header"
        data-theme-section="light"
        data-bg-section="light"
    >
        <div class="gradient-circle-wrap">
            <div class="gradient-circle"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-markdown">
                    <Content />
                </div>
            </div>
        </div>
    </section>
</Layout>
