---
// Components
import Button from "components/Button.astro";
import Logo from "./Logo.astro";

const firstColumnLinks = [
    {
        text: "Schedule",
        link: "/schedule/",
    },
    {
        text: "Speakers",
        link: "/speakers/",
    },
    {
        text: "Sponsors",
        link: "/sponsors/",
    },
    {
        text: "FAQ",
        link: "/faq/",
    },
];

const secondColumnLinks = [
    {
        text: "GOSIM X",
        link: "https://x.com/gosimfoundation",
        openInNewTab: true,
    },
];

const slug = Astro.url.pathname;
---

<footer class="section footer" data-theme-section="dark" data-bg-section="dark">
    <div class="container">
        <div class="row row-base">
            <div class="col col-logo-gosim">
                <div class="logo">
                    <a href="/" class="logo-click">
                        <Logo />
                    </a>
                </div>
            </div>

            <nav class="col col-sitemap" aria-label="Navigation Footer">
                <ul>
                    {
                        firstColumnLinks.map((loop: any) => (
                            <li
                                class="link link-hover"
                                data-barba-update
                                data-link-status={loop.link === slug ? "active" : "not-active"}
                            >
                                <a
                                    class="link-click"
                                    href={loop.link}
                                    target={loop?.openInNewTab ? "_blank" : "_self"}
                                    rel={loop?.openInNewTab ? "noopener noreferrer" : ""}
                                >
                                    <span>{loop.text}</span>
                                </a>
                            </li>
                        ))
                    }
                </ul>

                <ul>
                    {
                        secondColumnLinks.map((loop: any) => (
                            <li
                                class="link link-hover"
                                data-barba-update
                                data-link-status={loop.link === slug ? "active" : "not-active"}
                            >
                                <a
                                    class="link-click"
                                    href={loop.link}
                                    target={loop?.openInNewTab ? "_blank" : "_self"}
                                    rel={loop?.openInNewTab ? "noopener noreferrer" : ""}
                                >
                                    <span>{loop.text}</span>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </nav>

            <div class="col col-newsletter">
                <div class="col-row col-row-title">
                    <h4>Stay up to date on all things GOSIM 2025</h4>
                </div>
                <div class="col-row col-row-input">
                    <Button
                        link="#"
                        text="Join our newsletter"
                        class="btn primary xl btn-hover"
                    />
                </div>
                <div class="col-row col-row-text styled-content">
                    <p>
                        Subscribe to the GOSIM Foundation mailing list to stay
                        in the know.
                    </p>
                </div>
            </div>
        </div>

        <div class="row row-end">
            <div class="col col-logo-gosim2">
                <div class="logo">
                    <a
                        href="https://gosim.org"
                        target="_blank"
                        class="logo-click"
                    >
                        <Logo width="141" height="24" />
                    </a>
                </div>
            </div>

            <div class="col col-copyright"></div>

            <div class="col col-dev-credits">
                <div class="link link-hover">
                    <a
                        class="link-click"
                        href="https://gosim.org/"
                        target="_blank"
                    >
                        <span>GOSIM Foundation</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
