---
interface Props {
    title: string;
    text: string;
}

const { title, text } = Astro.props;
---

<section
    class="section default-header"
    data-theme-section="light"
    data-bg-section="lightgray"
    data-scroll-section
>
    <div class="gradient-circle-wrap">
        <div class="gradient-circle" />
    </div>

    <div class="container">
        <div class={`row ${text ? 'grid' : ''}`}>
            <div class="border-bottom" />

            <div class="col col-title">
                <div class="col-row col-row-title">
                    <h1>This Year's Speakers</h1>
                </div>
            </div>

            {text &&
                <div class="col col-text">
                    <div class="col-row styled-content">
                        <p>
                            Get ready to be inspired by our incredible lineup of
                            great speakers. These industry leaders will share their
                            expertise and insights, leaving you motivated and ready
                            to take on new challenges.
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
