<section
    class="section section-stats"
    data-theme-section="light"
    data-bg-section="light"
>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="single-stat outline">
                    <h2>
                        <span class="count-up">900</span><span
                            class="number-after">+</span
                        >
                    </h2>
                    <p>Attendees</p>
                </div>

                <div class="single-stat filled">
                    <div class="overlay overlay-image">
                        <img
                            alt="Attendees"
                            class="lazy overlay"
                            src="assets/img/placeholder-small-3-720x-q72.jpg"
                            data-src="assets/img/placeholder-small-3-720x-q72.jpg"
                            data-srcset="assets/img/placeholder-small-3-720x-q72.jpg"
                            width="540"
                            height="540"
                            data-sizes="100w"
                        />
                    </div>
                </div>

                <div class="single-stat outline">
                    <h2>
                        <span class="count-up">20</span><span
                            class="number-after"></span>
                    </h2>
                    <p>Sessions</p>
                </div>
                
                <div class="single-stat filled">
                    <div class="overlay overlay-image">
                        <img
                            alt="Attendees"
                            class="lazy overlay"
                            src="assets/img/placeholder-small-3-720x-q72.jpg"
                            data-src="assets/img/placeholder-small-3-720x-q72.jpg"
                            data-srcset="assets/img/placeholder-small-3-720x-q72.jpg"
                            width="540"
                            height="540"
                            data-sizes="100w"
                        />
                    </div>
                </div>

                <div class="single-stat outline">
                    <h2>
                        <span class="count-up">2</span><span
                            class="number-after"></span>
                    </h2>
                    <p>Exhilarating days</p>
                </div>
                
                <div class="single-stat filled">
                    <div class="overlay overlay-image">
                        <img
                            alt="Attendees"
                            class="lazy overlay"
                            src="assets/img/placeholder-small-3-720x-q72.jpg"
                            data-src="assets/img/placeholder-small-3-720x-q72.jpg"
                            data-srcset="assets/img/placeholder-small-3-720x-q72.jpg"
                            width="540"
                            height="540"
                            data-sizes="100w"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
